@{ Layout = null; }﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Online Help Desk</title>
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png">
    <meta name="description" content="" />
    <meta name="author" content="Tooplate" />
    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Additional CSS Files -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../Content/fontawesome.css" />
    <link rel="stylesheet" href="../Content/style.css" />
    <link rel="stylesheet" href="../Content/css/owl.css" />
    <link rel="stylesheet" href="../Content/lightbox.css" />

</head>

<body>
    <div id="page-wraper">
        <!-- Sidebar Menu -->
        <div class="responsive-nav">
            <i class="fa fa-bars" id="menu-toggle"></i>
            <div id="menu" class="menu">
                <i class="fa fa-times" id="menu-close"></i>
                <div class="container">
                    <div class="image">
                        <a href="#"><img src="../images/logo1.jpg" alt="logo_OnlineHelpDesk" /></a>
                    </div>
                    <div class="author-content">
                        @if (ViewBag.FullName != null)
                        {
                            <h5 style="color: white; font-weight:bold">Hello, @ViewBag.FullName</h5>
                        }
                    </div>
                    <nav class="main-nav" role="navigation">
                        <ul class="main-menu">
                            <li><a href="@Url.Action("Create", "Enduser")">Create New Request</a></li>
                            <li><a href="@Url.Action("Index", "Enduser")">View Requests</a></li>
                            <li>
                                <a href="@Url.Action("RequestHistory", "Enduser")">Requirement History</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Replies", "Enduser")">Reply of Assignee</a>
                            </li>
                            <li><a href="@Url.Action("Information", "Enduser")">Account Information</a></li>
                            <br />
                            @if (Session["AccountID"] != null)
                            {
                                <li>
                                    <form action="@Url.Action("Logout", "Home")" method="post">
                                        <input type="submit" value="Log out" class="btn btn-danger" />
                                    </form>
                                </li>
                            }
                        </ul>
                    </nav>

                    <div class="copyright-text">
                        <p>
                            Copyright 2023 OHD<br>
                            Design: Online Help Desk Team
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <section class="section about-me" data-section="section1">
            <div class="container" style="width:1200px">

                <div class="section-heading">
                    <div class="img1">
                        <img src="../Images/bg1.jpg" width="770" height="300" / style="filter: brightness(80%);">
                        <div class="table-toolbar" style="margin-left:30px; margin-top: -40px">
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" id="searchInput" class="form-control" style="width: 800px;margin-left:10px; margin-top: -140px" placeholder="Search...">
                                </div>
                                <div class="col-md-3">
                                    <button id="searchButton" class="btn btn-primary" style="margin-left: -80px; margin-top: -267px">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">

                        <div class="card-body">


                            <div class="table-responsive">
                                <div>
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../assets/js/isotope.min.js"></script>
    <script src="../assets/js/owl-carousel.js"></script>
    <script src="../assets/js/lightbox.js"></script>
    <script src="../assets/js/custom.js"></script>

</body>

</html>
<script>
    $(document).ready(function () {
        $('#searchButton').click(function () {
            var searchText = $('#searchInput').val().toLowerCase();
            $('#myTable tbody tr').each(function () {
                var rowText = $(this).text().toLowerCase();
                if (rowText.indexOf(searchText) === -1) {
                    $(this).hide();
                } else {
                    $(this).show();
                }
            });
        });
    });
</script>


