@model OnlineHelpDesk2.Models.Account

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/Assignee_LayoutPage.cshtml";
}

<h2 style="color: #000; font-weight: bold; text-align: center;">Change Password</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger col-md-6  justify-content-center container" role="alert">
        @ViewBag.ErrorMessage
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success col-md-6 container justify-content-center" role="alert">
        @ViewBag.Message
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.Confirmation))
{
    <div class="alert alert-danger col-md-6 container justify-content-center" role="alert">
        @ViewBag.Confirmation
    </div>
}

<div class="container mt-1">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" action="@Url.Action("ChangePassword", "Assignee")">
                @Html.AntiForgeryToken()

                <table class="table">
                    <tbody>
                        <tr>
                            <td>Old Password:</td>
                            <td><input type="password" name="oldPassword" class="form-control" required /></td>
                        </tr>
                        <tr>
                            <td>New Password:</td>
                            <td><input type="password" name="newPassword" class="form-control" required /></td>
                        </tr>
                        <tr>
                            <td>Confirm Password:</td>
                            <td><input type="password" name="confirmPassword" class="form-control" required /></td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary mt-3">Change Password</button>
                    <button type="button" class="btn btn-danger mt-3" onclick="location.href='@Url.Action("Information", "Assignee")'">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>

